body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: 0;
    background-color: #004d5cc4; /* Cor de fundo principal */
    background-image: linear-gradient(50deg, #004d7a5a, #004d7a); /* Gradiente com 50 graus */
    
    position: relative;
}


.container {
    text-align: center;
    width: 500px; /* Define a largura fixa */
    height: 710px; /* Define a altura fixa */
    margin: 10px;
    padding: 90px;
    background-color: #5f8be622;
    border-radius: 4px;
    box-shadow: 0 0 80px rgba(5f8be622);
    overflow: auto; /* Adiciona uma barra de rolagem se o conteúdo exceder a altura */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}
/* Estilizando o seletor de fontes */
.font-selector-container select {
    background-color: #004df609; /* Cor de fundo do seletor */
    color: #333; /* Cor do texto das opções */
    border: 2px solid #004df61b; /* Cor da borda */
    border-radius: 5px; /* Borda arredondada */
    padding: 5px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    width: 100%; /* Largura total */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    outline: none; /* Remove o contorno padrão ao focar */
}

.font-selector-container select option {
    background-color: #004d5c00; /* Cor de fundo das opções */
    color: #333; /* Cor do texto das opções */
}

/* Estilizando a seleção de uma opção */
.font-selector-container select option:checked {
    background-color: #004d5c58; /* Cor de fundo da opção selecionada */
    color: #333; /* Cor do texto da opção selecionada */
}
/* Estilos básicos para os botões de rádio */
input[type="radio"] {
    appearance: radio;
    -webkit-appearance: radio;
    -moz-appearance: radio;
    cursor: pointer;
}

/* Adicione uma margem ou padding se necessário */
input[type="radio"] + label {
    margin-left: 5px;
    cursor: pointer;
}
textarea {
    width: 100%;
    height: 50px; /* Altura fixa para o textarea */
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #004d5c10;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none; /* Remove a capacidade de redimensionar o textarea */
}

select {
    width: 100%;
    padding: 50px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #004d5c10;
    border-radius: 4px;
}

#text-output {
    margin-top: 20px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    min-height: 150px; /* Define a altura mínima do elemento */
    max-height: calc(100% - 40px); /* Ajusta a altura máxima para o container */
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
}
